LevelDefinition(
    creatures: [
        CreatureDefinition (
            max_speed: 100.0,
            movement: Constant ( speed: Vec2(1.0, 1.0) )
        ),
        CreatureDefinition (
            max_speed: 100.0,
            movement: Constant ( speed: Vec2(0.5, 1.0) )
        ),
        CreatureDefinition (
            max_speed: 100.0,
            movement: Constant ( speed: Vec2(0.75, 0.25) )
        ),
    ]
)