LevelDefinition(
    creatures: [
        CreatureDefinition (
            image: Weasel,
            max_speed: 1000.0,
            movement: Circle ( radius: 1.25, duration_ms: 4000 )
        ),
        CreatureDefinition (
            image: Weasel,
            max_speed: 1000.0,
            movement: Circle ( radius: 0.5, duration_ms: 2000 )
        ),
        CreatureDefinition (
            image: Weasel,
            max_speed: 1000.0,
            movement: Circle ( radius: 0.75, duration_ms: 2000 )
        ),
        CreatureDefinition (
            image: Weasel,
            max_speed: 1000.0,
            movement: Circle ( radius: 1.0, duration_ms: 2000 )
        ),
    ]
)